*
!.gitignore
!Readme.md
!environment.d/
!environment.d/**
!fish/
!fish/**
!ghostty/
!ghostty/**
!i3blocks/
!i3blocks/**
!mako/
!mako/**
!mehr2/
!mehr2/**
!nix/
!nix/**
!nvim/
!nvim/**
!sway/
!sway/**
!wallpapers/
!wallpapers/**
!zathura/
!zathura/**
!zellij/
!zellij/**
fish/fish_variables
fish/fish_history
mehr2/mehr2_lock.json
nvim/plugged/*
nvim/site/
nvim/telescope_history
zathura/bookmarks.sqlite
