themes {
  catppuccin-latte {
    bg "#b2a792" // Paper Surface2
    fg "#4c4f69" // Text
    red "#d20f39"
    green "#40a02b"
    blue "#1e66f5"
    yellow "#df8e1d"
    magenta "#ea76cb" // Pink
    orange "#fe640b" // Peach
    cyan "#04a5e5" // Sky
    black "#ddd7c8" // Paper Mantle
    white "#4c4f69" // Text
  }
}
