default_layout "xnacly"
theme "catppuccin-latte"

keybinds clear-defaults=true {
    normal {
        bind "Alt p" { SwitchToMode "pane"; }
    }

    pane {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }

        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }

        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }

        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "q" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}

        bind "H" { MovePane "Left"; }
        bind "J" { MovePane "Down"; }
        bind "K" { MovePane "Up"; }
        bind "L" { MovePane "Right"; }
        bind "e" { EditScrollback; }
    }
}
