@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--bg1: white;
	--bg2: white;
	--acc: #5691a8;
	--txt: black;
	--txt_hover: #5f626890;
	--bg1_hover: #979eac90;
	--bg2_hover: #929aad90;
	--acc_hover: #5691a890;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: var(--bg1);
	color: var(--txt);
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second {
	background-color: var(--bg2);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.third {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.forth {
	width: 100%;
}
.forth > ul {
	margin-left: 2rem;
}

.transparent {
	background-color: transparent;
}
a {
	color: var(--acc);
}

a:hover {
	color: var(--acc_hover);
}

.image {
	height: 200px;
	width: 400px;
	margin: 0.25rem;
}

.image_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

h1 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

h2 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

h3 {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
	margin-left: 1rem;
}

.small {
	color: var(--txt_hover);
	font-style: italic;
}

.sec_ul,
.sub_li,
.sec_lil {
	margin-left: 1.5rem;
}

code {
	padding: 0.2rem;
	font-family: monospace;
	/*background-color: var(--bg2_hover);*/
	color: var(--txt_hover);
}
